/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* CSS rules to specify families */

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;

}

body {
   background: #E5E5E5;
   font-family: 'Poppins',
      sans-serif;
}

main {
   display: flex;
   flex-direction: column;
   align-items: center;


}

.container {
   background: #FFFFFF;
   width: 870px;
   height: 679px;
   justify-content: center;
   justify-items: center;
   border-radius: 5px;
   margin-bottom: 10px;



}

.section-title {
   width: 127px;
   height: 36px;
   color: #562EFF;
   margin-left: 30px;
   margin-bottom: 25px;
}

.players-title {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-row-gap: 25px;
   margin-left: 30px;

}



.player-name {
   display: flex;
   align-items: center;
}

.player-name img {
   /* width: 56px; */
   height: 60px;
   padding-right: 10px;
   font-weight: 500;
   font-size: 18px;
}

.break-line {
   margin-top: 30px;
   width: 807px;
   height: 0px;
   margin-left: 30px;
   justify-content: center;
   border: 1px solid #D1D1D1;
   margin-bottom: 5px;
}

/* Blogs section start here */


.top-blog {
   width: 127px;
   height: 36px;
   padding: 30px;
   color: #562EFF;
}

.blog {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   align-items: center;
   margin-left: 30px;
   grid-row-gap: 25px;
   grid-column-gap: 80px;
   margin-left: 30px;

}

.blogs-article {
   display: flex;
   align-items: center;
   gap: 15px;
}

.blogs-article img {
   width: 177px;
   height: 117px;
}

.blog-author {
   color: #562EFF;
   color: #9F9F9F;
   font-size: 16px;

}

/* latest courses section styles */
.course-container {
   background: #FFFFFF;
   border-radius: 5px;
   /* justify-content: center;
   justify-items: center; */
   width: 870px;
   height: 362px;
   margin-top: 10px;
}
.course-section{
   display: flex;
   margin-left: 30px;

}

/* .course-title {
   width: 157px;
   height: 36px;
   color: #562EFF;
} */

.course-title {
   font-weight: 500;
   font-size: 36px;
   color: #562EFF;
   width: 280px;
   height: 50px;
   margin-left: 30px;
   margin-bottom: 20px;
}

.course-subtitle {
   font-weight: 500;
   font-size: 20.0336px;
   color: #1E1E1E;
}

.course .course-banner img {
   width: 266px;
   height: 141px;
}

.course-info {
   display: flex;
   gap: 15px;
}

.fa-star {
   font-size: 12px;
}

.fa-star.filled {
   color: #FFC014;
}

.fa-star.empty {
   color: #AEAEAE;
}

/*------------------------------------------------------------------ responsive website using media query -------------------------------------------------------------------------- */
/* for small divices  */