/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* CSS rules to specify families */

* {
   /* box-sizing: border-box; */
   margin: 0;
   padding: 0;

}

body {
   background: #E5E5E5;
   font-family: 'Poppins',
      sans-serif;
}

main {
   display: flex;
   justify-content: center;
   flex-direction: column;
}

.container {
   background: #FFFFFF;
   width: 870px;
   height: 679px;
   justify-content: center;
   justify-items: center;

}

.top-player {
   width: 127px;
   height: 36px;
   padding: 30px;
   color: #562EFF;
}

.players-title {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-row-gap: 29px;
   justify-content: center;
   justify-items: center;
}



.player-name {
   display: flex;
   align-items: center;
}

.player-name img {
   width: 56px;
   height: 56px;
   padding-right: 10px;
   font-weight: 500;
   font-size: 18px;
}

.break-line {
   margin-top: 30px;
   width: 807px;
   height: 0px;
   justify-content: center;
   border: 1px solid #D1D1D1;
}

/* Blogs section start here */
.blogs-container {}


.top-blog {
   width: 127px;
   height: 36px;
   padding: 30px;
   color: #562EFF;
}

.blog {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   align-items: center;
   margin-left: 30px;
   grid-row-gap: 26px;
   grid-column-gap: 80px;
   margin-left: 30px;

}

.blogs-article {
   display: flex;
   align-items: center;
   gap: 15px;
}

.blogs-article img {
   width: 177px;
   height: 117px;


}

.blog-author {
   color: #562EFF;
   color: #9F9F9F;
   font-size: 16px;
   
}

/* latest courses section styles */

.course-section{
   display: flex;
   justify-content: center;
   justify-items: center;
   gap: 45px;
}

.section-subtitle img {
   width: 224.38px;
   height: 105.51px;
}
.course-title{
   display: flex;
   gap: 10px;
}
.fa-star{
   font-size: 12px;
}
.fa-star.filled{
   color: #FFC014;
}
.fa-star.empty{
   color: #AEAEAE;
}